body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
}
table {
  margin: auto;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.transactionBox {
  max-width: 500px;
  border: 1px solid;
  padding: 10px;
  display: block;
  margin: 20px auto;
}
.action_button {
  display: flex;
  gap: 30px;
}
.action_button button {
  padding: 10px;
}
.action_button:first-child {
  background-color: blue;
}
